/*
Project: Curriculo pessoal 
Author: Leonidio Alcantara;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
  	padding-top: 10px;	
}

footer{
	background-color:rgb(214, 226, 233);
	text-align: center;
	margin-top: 5px;	
	padding: 5px;
}

.alterar-fonte {
	font-style: normal;
	font-family: 'Roboto', sans-serif;	
}

.alterar-fonte h1{
	font-size: 45px;
}

.alterar-fonte h2{
	font-size: 15px;
}

.print{
	margin: 10px;
}

.perfil{
	display: inline-block;
}



